
<div class="warp warp-login" data-scroll-container data-horizontal="true">
    <section class="w3l-workinghny-form">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <h1><a class="brand-logo" href="index.html"><span>Đăng nhập với</span> mạng xã hội</a></h1>
                    <!-- if logo is image enable this   
                        <a class="brand-logo" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                </div>
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end">
                        <img src="https://demo.w3layouts.com/demos_new/template_demo/03-10-2020/working-signin-demo_Free/191926092/web/images/2.png" class="img-responsive" alt="img">
                    </div>
                    <div class="form-right-inf">
						
                        <div class="login-form-content">
                            <h2>Where to?</h2>
                           
                                <button (click)="sign_with_google()" style="background: #f72585;" class="btn btn-style mt-3">Đăng nhập với Google</button>
                                <p class="already"></p>
                                <button (click)="sign_with_facebook()" class="btn btn-style mt-3">Đăng nhập với Facebook </button>
                                <p class="already"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">© 2021 Working Sign In. All rights reserved | Design by <a href="https://w3layouts.com">Vintage Cinema</a></p>
            </div>
        </div>
        <!-- //copyright-->
    </section>
</div>