@media screen and (max-width:1200px){


  /* login */
  .warp .section-login .box_login {
    width: 100%;
    border: none;
  }
  .warp .section-login .box_login div p {
    padding: 0;
    width: 80vw;
    height: 50px;
    line-height: 50px;
  }
  
}
/* login */
.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-login .box_login {
  width: 30%;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 8px 24px rgb(21 48 142 / 14%);
}

.section-login .box_login div p {
  padding: 20px 80px;
  margin: 30px;
  /* width: 80vw;
  height: 50px;
  line-height: 50px; */
  border-radius: 10px;
  color: white;
  letter-spacing: .1em;
}
.section-login .box_login div .google{
  background: #e74c3c;
}
.section-login .box_login div .facebook{
  background: #3498db;
}