@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@media screen and (max-width:1200px){
    body{
      font-size: 12px !important;
    }
    .warp{
      margin-left: 0% !important;
      width: 100% !important;
    }
    .shape{
      display: none !important;
    }
    body .book_now_mobile{
      display: block;
    }
    body .book_now{
      display: none;
    }
      body .menu{
          display: none;
      }
      body .menu_mobile{
          display: block;
      }
      body .menu_mobile .icon_menu_mobile {
        color: white;
      }
    
      .menu_mobile .logo_mobile {
        
      }
      .warp section{
          width: 100%;
      }
      .warp section .left{
          float: none;
          width: 100%;
          height: 45vh;
          background-attachment: unset;
      }
      .warp section .right{
          background: none;
          margin: auto;
          width: 90%;
          height: 380px;
      }
      .warp .vintage_cinema{
        display: none;
      }
      .warp .right .list{
          bottom: auto;
          width: 100%;
          
      }

      .warp section .box_title{
        width: 100%;
        margin: auto 0 25px;
        height: 10vh;
        font-size: 25px;
        letter-spacing: .1em;
      }
    .warp section .box{
        margin: 1%;
        width: 48%;
    }

    .warp footer{
      clear: both;
      width: 100vw;
    }

    /* detail */
    .warp .section-detail .container{
      width: 100%;
      margin:10vh auto;
    }
    .warp .section-detail .container .movie{
      width: 100%;
    }
    .warp .section-detail .container .show-setup .cinema{
      width: 100%;
      display: block;
    }
    .warp .section-detail .container .show-setup .cinema form {
      width: 100%;
    }
    .warp .section-detail .container .show-setup .cinema .note{
      width: 100%;
    }
    .warp .section-detail .container .show-setup .seat .row{
      display: none;
    }
    .warp .section-detail .container .show-setup .seat .box-seat{
      margin-left: 0%;
      width: 100%;
    }
    .warp .section-detail .container .poster{
      position: static;
      width: 100%;
      padding: 20px 0;
    }


    /* pay */
    .warp .section-pay .container {
      width: 100%;
      display: block;
    }
    .warp .section-pay .container .bill {
      width: 100%;
      max-height: 120vh;
      margin-left: 0%;
    }
    .warp .section-pay .container .pay-method {
      width: 100%;
      margin-left: 0%;
    }
    .warp .section-pay .container .pay-method .box-img-pay {
      height: 150px;
    }
    
  }
@media screen and (min-width:600px) and (max-width:1200px){
  .warp section .box{
   
    width: 30% !important;
}
}
  
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  background: #f5f2eb;
}
::-webkit-scrollbar{
  width: 8px;
  z-index: 999999999999999;
}
[data-scroll-direction=horizontal] .c-scrollbar {
  bottom: 50px !important;
}
.c-scrollbar_thumb {
  opacity: 1 !important;
  background-color: #44413C !important;
}
img{
    width: 100%;
}



.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 68px;
    height: 100vh;
    text-align: center;
    z-index: 99;
    background-color: #44413C;
   
  }
  
  .menu p {
    transform: rotate(-90deg);
  
  }
  
  .icon_menu {
    height: 50px;
    border-bottom: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
  }
  .menu_mobile {
      position: fixed;
      top: 0;
      width: 100%;
      height: 8vh;
      background:  #44413C;
      z-index: 99;
      box-shadow: 0 0 10px gray;
      display: none;
    }
  
    .menu_mobile .icon_menu_mobile {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color:  #44413C;
      font-size: 30px;
    }
  
    .menu_mobile .logo_mobile {
      position: absolute;
      width: 10%;
      height: 100%;
      left: 45%;
      top: 0;
      display: flex;
      align-items: center;
    }
  
  .web {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
  }
  
  .logo {
    display: flex;
    width: 80%;
    height: 30%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .menu .name_cinema {
    margin-left: -80%;
    width: 250%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: .1em;
    color: white;
  }

  /* book now */
.book_now {
  position: fixed;
  left: 68px;
  /* left: -100%; */
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #f5f2eb;
  z-index: 99;
  font-size: 20px;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  box-shadow: 0 0 10px darkgray;
  transition: all .5s;
}

.book_now .name_cinema {
  position: absolute;
  left: 50px;
  top: 15%;
  padding-right: 20px;
  border-right: solid 1px #C4C4C4;
  height: 70%;
  display: flex;
  align-items: center;
}

.book_now .form_booking {
  position: absolute;
  left: 20%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
}

.book_now .form_booking select {
  margin-right: 20px;
  background: none;
  border: none;
  border-bottom: solid 2px #44413C;
  width: 10vw;
  height: 50%;
  color:  #44413C;
  letter-spacing: .1em;
  font-size: 12px;
}

.book_now button {
  position: absolute;
  right: 4%;
  top: 0;
  border: none;
  background: none;
  color: white;
  border: none;
  border-bottom: 100px solid  #44413C;
  border-left: 50px solid transparent;
  height: 0;
  width: 20%;
  line-height: 50px;
  font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: .1em;
}

.book_now_mobile {
  position: fixed;
  display: none;
  left: 0%;
  bottom: -295px;
  width: 100%;
  height: 350px;
  background: white;
  z-index: 99;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  transition: all .5s;
  text-align: center;
  color:  #44413C;
  box-shadow: 0 0 10px grey;
}
.book_now_mobile p:first-child{
  padding: 20px;
}

.book_now_mobile select {
  margin: auto;
  width: 90%;
  height: 5vh;
  margin-bottom: 3vh;
  background: none;
  border: none;
  border-bottom: solid 2px  #44413C;
  padding-right: 20%;
  color:  #44413C;
  letter-spacing: .1em;
}

.book_now_mobile button {
  position: absolute;
  right: 0%;
  bottom: 0;
  border: none;
  background: none;
  color: white;
  border: none;
  border-bottom: 8vh solid  #44413C;
  border-left: 40px solid transparent;
  height: 0;
  width: 70%;
  line-height: 8vh;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
}





section{
    width: max-content;
   clear: both;
   min-width: 100vw;
   min-height: 100vh;
}
section:last-child{
  
}
section .left {
   width: 70vw;
   min-height: 100vh;
   float: left; 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
  
section .left img {
  height: 100%;
}
section .right {
  position: relative;
  margin: auto;
  width: 30vw;
  height: 100vh;
  float: left;
}
.title {
    width: 90%;
    margin: 30px auto;
    letter-spacing: .1em;
      font-size: x-large;
}
.right .vintage_cinema{
    margin: auto;
    width: 90%;
    height: 50px;
   
  }
.right .list {
    position: absolute;
    
    width: 90%;
    left: 5%;
    bottom: 10%;
}
  
.right .list div {
    letter-spacing: .1em;
    font-size: 25px;
    width: 100%;
    border-top: solid 1px #000000;
}
  
.right .list div:last-child {
    border-bottom: solid 1px #000000;
}
  
.right .list div p {
    padding: 0;
    /* line-height: 0px; */
}
.right .list p a:hover{
  color: #dfc7c1;
}
  
.right .list div p:first-child {
    font-size: 15px;
    color: #44413C;
}
.right .list div:first-child{
    border-top: none;
}


section .box_title{
     /* width: 25vw; */
    /* height: 50vh; */
    /* background: #44413C; */
    margin: 40px;
    margin-top: 30vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 50px;
    color: #272727;
    float: left;
    font-family: 'Bungee Shade', cursive;
}
section .box_title p:first-child{
  border-bottom: solid #272727;
}
section .box_title p:last-child{
  font-size: 25px;
}
section .box{
    margin: 20px;
    margin-top: 40px;
    width: 280px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    border: solid 2px #44413C;
    transition: all .5s;
}
section .box .box_info{
    margin-top: 10px;
    width: 100%;
    color: #44413C;
}
section .box .box_info p:nth-child(2){
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
section .box .box_info p:nth-child(2)::first-letter{
  initial-letter: 2;
  text-transform: uppercase;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
section .box .box_info p:first-child{
   font-size: 20px;
   border-bottom: solid 1px gray;
}
section .box .box_info a{
  margin-top: 10px;
  border-radius: 5px;
  background: #44413C;
  padding: 5px 0px;
  color: white;
  justify-content: center;
  display: flex;
  text-align: center;
  transition: all .3s;
}
section .box .box_info a:hover{
  background: #f5f2eb;
  color: #44413C;
}
section .box:hover{
  transform: scale(1.05);
  background: #44413C;
  cursor: pointer;
}
section .box:hover .box_info{
  color:  #f5f2eb !important;
}
section .box:hover a{
  background:  #f5f2eb !important;
  color: #44413C;
}

p, span, h1, h2, h3, h4, h5, .title, .des, a, .sapo {
    white-space: normal !important;
}


footer {
  position: relative;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 60vw;
  min-height: 500px;
  background:  #44413C;
  color: white;
  z-index: 1;
}
footer p {
  padding: 0px 20px;
  padding-left: 7%;
}
footer p span{
  color:#dfc7c1;
}



/* detail */
.section-detail{
  width: 100% !important;
}
.section-detail .container{
  width: 90%;
  margin: auto;
}
.section-detail .container .movie{
  width: 70%;
  padding: 20px 0;
}
.section-detail .container .movie .name{
  text-align: center;
  font-size: 50px;
  border-bottom: solid;
}
.section-detail .container .movie .content{
  padding: 20px;
}
.section-detail .container .movie .info{
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: solid 2px gray;
  letter-spacing: .1em;
}
.section-detail .container .movie .info p{
  border-right: solid 1px gray;
  padding:0 20px;
}
.section-detail .container .movie .info p:last-child{
  border-right: none;
  
}
.section-detail .container .show-setup{
  width: 100%;
}
.section-detail .container .show-setup .date{
  display: flex;
  border-bottom: solid 2px gray;
}
.section-detail .container .show-setup .date div{
  text-align: center;
  flex: 1;
  cursor: pointer;
  transition: all .3s;
}
.section-detail .container .show-setup .date div:hover{
  background: white;
}
.section-detail .container .show-setup .date div:first-child{
  
}
.section-detail .container .show-setup .date div p{
  font-size: 30px;
}
.section-detail .container .show-setup .cinema{
  width: 100%;
  display: flex;
  border-bottom: solid 1px gray;
}
.section-detail .container .show-setup .cinema form {
  width: 50%;
  display: flex;
}
.section-detail .container .show-setup .cinema form .box-show{
  flex: 1;
  padding: 10px 20px;
}
.section-detail .container .show-setup .cinema form .box-show select{
  padding: 8px 20px;
  border: solid gray 2px;
  text-align: center;
}
.section-detail .container .show-setup .cinema .note{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-detail .container .show-setup .cinema .note .box-note{
  display: flex;
  align-items: center;
  padding: 40px 20px;
}
.section-detail .container .show-setup .cinema .note .box-note div{
  padding: 10px;
}
.section-detail .container .show-setup .cinema .note .color{
  padding: 10px;
}
.section-detail .container .show-setup .cinema .note .box-note:nth-child(1) .color{
  background: #44413C;
}
.section-detail .container .show-setup .cinema .note .box-note:nth-child(2) .color{
  background: darkgray;
}
.section-detail .container .show-setup .cinema .note .box-note:nth-child(3) .color{
 background: white;
}
.section-detail .container .show-setup .seat{
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.section-detail .container .show-setup .seat .row{
  width: 5%;
  position: absolute;
  left: 0;
  top: 0;
}
.section-detail .container .show-setup .seat .row div{
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.section-detail .container .show-setup .seat .box-seat{
  margin-left: 5%;
  width: 95%;
}
.section-detail .container .show-setup .seat .box-seat .row-seat{
  width: 100%;
  height: 30px;
  display: flex;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div input{
  width: 50%;
  height: 50%;
  background: darkgray;
  transition: all .3s;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div .checked{
  position: relative;
  background: #dfc7c1;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div .checked::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #dfc7c1;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div input:hover{
  background: #44413C;
  cursor: pointer;
}
.section-detail .container .show-setup .seat .box-seat .row-seat div input:checked{
  background: #44413C;
}

.section-detail .container .poster{
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background: #44413C;
}
.section-detail .container .poster .box-img{
  width: 60%;
  margin:50px auto;
  box-shadow: 0 0 10px black;
}
.section-detail .container .poster .info{
  width: 70%;
  margin:50px auto;
  color: white;
}
.section-detail .container .poster .info p{
  font-size: 20px;
  color: #dfc7c1;
}
.section-detail .container .poster .info div{
  display: flex;
}
.section-detail .container .poster .info div p:nth-child(1){
  width: 50%;
  text-align: left;
  font-size: 16px;
}
.section-detail .container .poster .info div p:nth-child(2){
  width: 50%;
  text-align: right;
  font-size: 16px;
}
.section-detail .container .poster .info .total{
  border-top: solid 1px gray;
  padding: 20px;
}
.section-detail .container .poster .info div a{
  background: #dfc7c1;
  color: #44413C;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.warp-detail footer{
  width: 100%;
}


/* pay */
.section-pay{
  width: 100% !important;
}
.warp-pay footer{
  width: 100%;
}
.section-pay .container{
  width: 90%;
  margin:8vh auto;
  display: flex;
}
.section-pay .container .bill{
  width: 40%;
  max-height: 85vh;
  margin-left: 5%;
  padding: 20px;
  box-shadow: 0 0 10px darkgray;
}
.section-pay .container .bill .title-bill{
  font-family: 'Bungee Shade', cursive;
  letter-spacing: .1em;
  font-size: x-large;
}
.section-pay .container .bill .title-bill p{
  text-align: center !important;
}
.section-pay .container .bill div{
  display: flex;
}
.section-pay .container .bill .list-bill{
  border-top: solid 2px #44413C;
}
.section-pay .container .bill div p{
  text-align: right;
  flex: 1;
  padding: 10px 0;
}
.section-pay .container .bill div p:first-child{
  text-align: left;
}
.section-pay .container .bill div p:last-child{
  text-align: right;
}
.section-pay .container .bill .total{
  border-top: solid 2px #44413C;
}
.section-pay .container .pay-method{
  width: 50%;
  margin-left: 5%;
  padding: 20px;
  max-height: 85vh;
  text-align: center;
}
.section-pay .container .pay-method .box-img-pay{
  width: 50%;
  height: 250px;
  text-align: center;
  float: left;
}
.section-pay .container .pay-method button{
  margin: 50px;
    padding: 10px 50px;
    background: #44413c;
    color: white;
}