<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://locomotivemtl.github.io/locomotive-scroll/dist/styles/main.css">
</head>

<body>
    <!--block-->
    <div class="menu">
        <div class="icon_menu">
            <i class="fa fa-bars"></i>
        </div>
        <div class="web">
            <p>www.vintagecinema.vn</p>
        </div>
        <div class="logo">
            <a href="index.html"><img src="img/logo3.png" alt=""></a>
        </div>
        <div class="name_cinema">
            <p> vintage cinema</p>
        </div>
    </div>
    <div class="menu_mobile">
        <div class="icon_menu_mobile">
            <i class="fa fa-bars"></i>
        </div>
        <div class="logo_mobile">
            <img src="img/logo3.png" alt="">
        </div>
    </div>
    <!--/block-->
    <!--page-->
    <div class="warp warp-pay" id="js-scroll">
        <section class="section-pay">
            <div class="container">
                <div class="bill">
                    <div class="title-bill">
                        <p>Vintage Cinema</p>
                    </div>
                    <div>
                        <p>Họ và tên :</p>
                        <p>Nguyễn Chí Thành</p>
                    </div>
                    <div>
                        <p>Số điện thoại :</p>
                        <p>0931810441</p>
                    </div>
                    <div>
                        <p>Email :</p>
                        <p>Nchithanh9999@gmail.com</p>
                    </div>
                    <div class="list-bill">
                        <p>Movie</p>
                        <p>seat</p>
                        <p>price</p>
                        <p>time</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div class="total">
                        <p>total :</p>
                        <p>300.000 VND</p>
                    </div>
                </div>
                <div class="pay-method">
                    <div class="box-img-pay">
                        <img src="img/qr.png" alt="">
                        <p>Ứng dụng Mobile Banking quét mã VNPAY-QR</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="img/atm.png" alt="">
                        <p>Thẻ ATM và tài khoản ngân hàng</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="img/visa.png" alt="">
                        <p>Thẻ thanh toán quốc tế</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="img/ewallet.png" alt="">
                        <p>Ví điện tử</p>
                    </div>
                    <div class="btn">
                        
                    </div>
                    <button>Thanh toán</button>
                </div>
            </div>
        </section>
        <footer>
            <p><span>Vintage Cinema</span> là một trong những công ty tư nhân đầu tiên về điện ảnh được thành lập từ năm
                2003, đã
                khẳng định thương hiệu là 1 trong 10 địa điểm vui chơi giải trí được yêu thích nhất. Ngoài hệ thống rạp
                chiếu phim hiện đại, thu hút hàng triệu lượt người đến xem, <span>Vintage Cinema</span> còn hấp dẫn khán
                giả bởi không
                khí thân thiện cũng như chất lượng dịch vụ hàng đầu.

            </p>
            <p>Đến website galaxycine.vn, quý khách sẽ được cập nhật nhanh chóng các phim hay nhất phim mới nhất đang
                chiếu hoặc sắp chiếu. Lịch chiếu tại mọi hệ thống rạp chiếu phim của <span>Vintage Cinema</span> cũng
                được cập nhật
                đầy đủ hàng ngày hàng giờ trên trang chủ.

            </p>
            <p>Đặt vé tại <span>Vintage Cinema</span> dễ dàng chỉ sau vài thao tác vô cùng đơn giản. Để mua vé, hãy vào
                tab Mua vé.
                Quý khách có thể chọn Mua vé theo phim, theo rạp, theo ngày tùy cách nào tiện lợi nhất cho bản thân.Sau
                đó, tiến hành mua vé theo các bước hướng dẫn. Chỉ trong vài phút, quý khách sẽ nhận được tin nhắn và
                email phản hồi Đặt vé thành công của <span>Vintage Cinema</span>. Quý khách có thể dùng tin nhắn lấy vé
                tại quầy vé
                của <span>Vintage Cinema</span> hoặc quét mã QR để một bước vào rạp mà không cần tốn thêm bất kỳ công
                đoạn nào nữa.

            </p>
            <p>Nếu bạn đã chọn được phim hay để xem, hãy đặt vé cực nhanh bằng box Mua Vé Nhanh ngay từ Trang Chủ. Chỉ
                cần một phút, tin nhắn và email phản hồi của <span>Vintage Cinema</span> sẽ gửi ngay vào điện thoại và
                hộp mail của
                bạn.

            </p>
            <p>Nếu chưa quyết định sẽ xem phim mới nào, hãy tham khảo các bộ phim hay trong mục Phim Đang Chiếu cũng như
                Phim Sắp Chiếu tại rạp chiếu phim bằng cách vào mục Bình Luận Phim ở Góc Điện Ảnh để đọc những bài bình
                luận chân thật nhất, tham khảo và cân nhắc. Sau đó, quý khách hãy đặt vé bằng box Mua Vé Nhanh ngay ở
                đầu trang để chọn được suất chiếu và chỗ ngồi vừa ý nhất.

            </p>
            <p><span>Vintage Cinema</span> luôn có những chương trình khuyến mãi, ưu đãi, quà tặng vô cùng hấp dẫn như
                giảm giá vé,
                tặng vé xem phim miễn phí, tặng Combo, tặng quà phim… dành cho quý khách.

            </p>
            <p><span>Vintage Cinema</span> luôn có những chương trình khuyến mãi, ưu đãi, quà tặng vô cùng hấp dẫn như
                giảm giá vé,
                tặng vé xem phim miễn phí, tặng Combo, tặng quà phim… dành cho quý khách.

            </p>
            <p>Trang web galaxycine.vn còn có mục Góc Điện Ảnh - sở hữu lượng dữ liệu về phim, diễn viên và đạo diễn,
                giúp quý khách dễ dàng chọn được phim mình yêu thích và nâng cao kiến thức về điện ảnh của bản thân.
                Ngoài ra, vào mỗi tháng, <span>Vintage Cinema</span> cũng giới thiệu các phim sắp chiếu hot nhất trong
                mục Phim Hay
                Tháng để quý khách sớm có sự tính toán.

            </p>
        </footer>
    </div>
    <!--/page-->
    <script src="https://locomotivemtl.github.io/locomotive-scroll/dist/scripts/main.js"></script>
</body>

</html>