<div class="warp warp-detail" id="js-scroll" data-scroll-container>
    <section class="section-detail">
        <div class="container">
            <div class="movie">
                <div class="name">
                   {{data[0].name}}
                </div>
                <div class="content">
                    {{data[0].description}}
                </div>
                <div class="info">
                    <p><span>IMDb</span> {{data[0].point}} </p>
                    <p>{{data[0].duration}}</p>
                    <p>{{data[0].category}}</p>
                    <p>{{data[0]["date-start"]}}</p>
                </div>
                <div class="show-setup">
                    <div class="date">
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                    </div>
                    <div class="cinema">
                        <form action="">
                            <div class="box-show">
                                <p>cinema</p>
                                <select name="" id="">
                                    <option value="">cinema thanh phong</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="box-show">
                                <p>time</p>
                                <select name="" id="">
                                    <option value="">12:30</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                        </form>
                        <div class="note">
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                        </div>
                    </div>
                    <div class="seat">
                        <div class="row">
                            <div>A</div>
                            <div>n</div>
                            <div>c</div>
                            <div>d</div>
                            <div>e</div>
                            <div>f</div>
                            <div>g</div>
                            <div>h</div>
                            <div>l</div>
                        </div>
                        <div class="box-seat">
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="poster">
                <div class="box-img">
                    <img src="{{data[0].img}}" alt="">
                </div>
                <div class="info">
                    <p>Selected seat</p>
                    <div>
                        <p>selection</p>
                        <p>price</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p><span>300.000 VND</span></p>
                    </div>
                    <div>
                        <a href="/pay">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</div>