<div class="warp warp-detail" id="js-scroll" data-scroll-container>
    <section class="section-detail">
        <div class="container">
            <div class="movie">
                <div class="name">
                    CHỊ MƯỜI BA: 3 NGÀY SINH TỬ
                </div>
                <div class="content">
                    Lý Lệ Hà (NSND Lê Khanh), Lý Lệ Hồng (NSND Hồng Vân) và Lý Linh (Kaity Nguyễn) là ba chị em Lý
                    gia sang chảnh và quyền lực. Dòng họ Lý ở trong Bạch Trà viên xa hoa lộng lẫy, với đầy cổ vật có
                    giá trị “gấp mấy lần siêu xe”. Bảo vật của gia tộc này là chiếc Phượng bào “Phượng hoàng tam
                    vĩ”, khiến tất cả nhân vật không tiếc mọi thứ mọi thủ đoạn chiếm đoạt. Cô em út Lý Linh đang
                    thăng tiến trong công việc. Ấy vậy mà, với cô điều ấy là chưa đủ. Mục tiêu của nữ cường nhân mới
                    25 tuổi này là ngồi lên chiếc ghế quyền lực tại tòa tháp Đế Vương. Thiếu gia họ Quách “câu” cô
                    nàng bằng cách hứa hẹn một tương lai tươi sáng, để Lý Linh trở thành “Mị Châu” đem chiếc Phượng
                    bào mà cha anh ta sẵn sàng đánh đổi bằng cả tòa tháp về cho mình. Tuy nhiên, Lý Linh khó thể
                    thành công khi người đang sở hữu báu vật ấy là cô chị cả Lý Lệ Hà – nhà sưu tập cổ vật hoàng
                    cung thông minh và sắc sảo. Mọi chuyện càng trở nên rắc rối hơn khi Lệ Hà lại chính là tình nhân
                    bí mật của ông chủ nhà họ Quách. Ngoài ra, dù Lý Lệ Hồng và cậu trai trẻ Jonathan Vĩnh Thuỵ mang
                    vẻ ngoài vô hại dường như cũng có mưu tính sâu xa.
                </div>
                <div class="info">
                    <p><span>IMDb</span> 7.0 </p>
                    <p>1h 50min</p>
                    <p>Action Comdy</p>
                    <p>18 december 2018(VN)</p>
                </div>
                <div class="show-setup">
                    <div class="date">
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                        <div>
                            <p>23</p>
                            <span>mon</span>
                        </div>
                    </div>
                    <div class="cinema">
                        <form action="">
                            <div class="box-show">
                                <p>cinema</p>
                                <select name="" id="">
                                    <option value="">cinema thanh phong</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="box-show">
                                <p>time</p>
                                <select name="" id="">
                                    <option value="">12:30</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                        </form>
                        <div class="note">
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                            <div class="box-note">
                                <div class="color"></div>
                                <div class="text">selected</div>
                            </div>
                        </div>
                    </div>
                    <div class="seat">
                        <div class="row">
                            <div>A</div>
                            <div>n</div>
                            <div>c</div>
                            <div>d</div>
                            <div>e</div>
                            <div>f</div>
                            <div>g</div>
                            <div>h</div>
                            <div>l</div>
                        </div>
                        <div class="box-seat">
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input class="checked" type="checkbox" >
                                </div>
                                <div>
                                    <input class="checked" type="checkbox" >
                                </div>
                                <div>
                                    <input class="checked" type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox" >
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="row-seat">
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                                <div>
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="poster">
                <div class="box-img">
                    <img src="../assets/img/cauvang.jpg" alt="">
                </div>
                <div class="info">
                    <p>Selected seat</p>
                    <div>
                        <p>selection</p>
                        <p>price</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div>
                        <p>Row A seat 12</p>
                        <p>200.000 VND</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p><span>300.000 VND</span></p>
                    </div>
                    <div>
                        <a href="/pay">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>