<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cskh.capnuocnhabe.vn/assets/dist/css/app.css">
</head>
<body class="app" ng-app="ccssnhabe">
    
    <!-- END: Mobile Menu -->
    <div class="flex" id="main-container">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav" ng-controller="menuCtrl">
    <a href="/Home/Index" class="intro-x flex items-center pl-5 pt-4">
        <img alt="Chăm Sóc Khách Hàng Cấp Nước Nhà Bè" class="w-11\/12" src="../assets/dist/images/LogoCSKH.png">
        
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a href="/Home/Index" class="side-menu ">
                
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> </div>
                <div class="side-menu__title"> Trang chủ </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg> </div>
                <div class="side-menu__title">Tin tức tổng hợp<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down side-menu__sub-icon"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
            </a>
            <ul class="">
                <li>
                    <a href="/TinTuc/IndexThongTinChung" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Tin tức </div>
                    </a>
                </li>
                
                <li>
                    <a href="/TinTuc/IndexCacThuTucBieuMau" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Các thủ tục - Biểu mẫu </div>
                    </a>
                </li>
                
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="side-menu side-menu--active">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trello"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><rect x="7" y="7" width="3" height="9"></rect><rect x="14" y="7" width="3" height="5"></rect></svg> </div>
                <div class="side-menu__title"> Tra cứu thông tin <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down side-menu__sub-icon"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="/TraCuu/IndexTraCuuTienNuoc" class="side-menu side-menu--active">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Tra cứu tiền nước </div>
                    </a>
                </li>
                <li>
                    <a href="/TraCuu/IndexTraCuuDinhMuc" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Tra cứu định mức </div>
                    </a>
                </li>
                <li>
                    <a href="/TraCuu/IndexTraCuuLichDocSo" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Tra cứu lịch đọc số </div>
                    </a>
                </li>
                <li>
                    <a href="/TraCuu/IndexTraCuuTienDoHoSo" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Tra cứu hồ sơ </div>
                    </a>
                </li>


            </ul>
        </li>

        <li>
            <a href="javascript:;" class="side-menu ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg> </div>
                <div class="side-menu__title"> Dịch vụ trực tuyến <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down side-menu__sub-icon"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
            </a>
            <ul class="">
                
                
                
                <li>
                    <a href="/DichVu/IndexBaoChiSoNuoc" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Báo chỉ số nước Online </div>
                    </a>
                </li>
                <li>
                    <a href="/DichVu/IndexGanMoiDongHoNuoc" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Đăng ký gắn mới Online </div>
                    </a>
                </li>
                <li>
                    <a href="/DichVu/IndexNangDoiDoiCo" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Đăng ký nâng-dời-đổi cở </div>
                    </a>
                </li>
                <li>
                    <a href="/DichVu/IndexDieuChinhThongTin" class="side-menu ">
                        <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg> </div>
                        <div class="side-menu__title"> Điều chỉnh thông tin  </div>
                    </a>
                </li>
            </ul>
        </li>

      

      

     
        <li>
            <a href="http://capnuocnamsaigon.vn:803/dang-nhap" class="side-menu  ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg> </div>
                <div class="side-menu__title"> Hóa đơn tiền nước </div>
            </a>
        </li>
        <li>
            <a href="/LocaltionDiemThiTienNuoc/IndexDiemThuTienNuoc" class="side-menu ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> </div>
                <div class="side-menu__title"> Điểm thu tiền nước </div>
            </a>
        </li>
        <li>
            <a href="/ThanhToanOnline/IndexThanhToanOnline" class="side-menu ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg> </div>
                <div class="side-menu__title"> Đối tác thu hộ </div>
            </a>
        </li>
        <li class="side-nav__devider my-6"></li>
    
        <li>
            <a href="/HoiDapLienHe/IndexHoiDap" class="side-menu ">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> </div>
                <div class="side-menu__title"> Hỏi đáp - Khiếu nại </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg> </div>
                <div class="side-menu__title"> Hộp thư góp ý </div>
            </a>

        </li>
        <li class="side-nav__devider my-6"></li>
       
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg> </div>
                <div class="side-menu__title"> Hướng dẫn sử dụng </div>
            </a>

        </li>

    </ul>
</nav>
<script src="/MyScript/menuCtrl.js"></script>

        <!-- END: Side Menu -->
        

        <!-- BEGIN: Content -->
        <div class="content" id="content">
            
            


<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Tra cứu tiền nước
    </h2>
   
</div>
<!-- BEGIN: Invoice -->
<div class="intro-y box overflow-hidden mt-5" ng-controller="tracuutiennuocCtrl">

    <div class="box">
        <form ng-submit="fSeachtiennuoc()" class="ng-dirty ng-valid-parse ng-valid ng-valid-required ng-submitted" style="">
            <div class="flex flex-wrap lg:flex-no-wrap items-center justify-center p-5">
                <div class="w-full lg:w-1/2 mb-4 lg:mb-0 mr-auto">


                    <div class="flex">
                        <div class="mt-2">

                            <input ng-model="madb" type="text" class="input input--lg w-full bg-gray-200 pr-10 placeholder-theme-16 ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" placeholder="Vui lòng nhập số danh bộ" required="" style="">

                        </div>

                        <div class="mt-3" style="margin-left:10px">

                            <button type="submit" class="button w-24 shadow-md mr-1 mb-2 bg-theme-1 text-white">Tìm kiếm</button>
                        </div>

                    </div>


                    <div class="w-full h-1 mt-2 bg-gray-400 rounded-full">
                        <div class="w-1/4 h-full bg-theme-1 rounded-full"></div>
                    </div>
                </div>

            </div>
        </form>
    </div>



    <div class="intro-y box overflow-hidden mt-5">


        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="flex flex-col lg:flex-row border-b border-gray-200 pb-5 -mx-5" ng-show="showed" style="">
                <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                    <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                        <img alt="" class="rounded-full" src="../assets/dist/images/LOGO200X200.png">
                        <div class="absolute mb-1 mr-1 flex items-center justify-center bottom-0 right-0 bg-theme-1 rounded-full p-2"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit w-4 h-4 text-white tooltip tooltipstered"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg> </div>

                    </div>
                    <div class="ml-5">
                        <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">04162715246</div>
                        <div class="text-gray-600" style="color:blue;font-weight:bold">Họ Tên: LE QUANG THI NHAT LINH</div>
                        <div class="text-gray-600"> Hợp Đồng: NB4N110421 </div>

                    </div>
                </div>
                <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
                    
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram w-4 h-4 mr-2"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg> Địa Chỉ: 290/65/25 , Đường: DOAN VAN BO  , Phường/xã: Phường 16 , Quận/Huyện: Quận 4 </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2 w-4 h-4 mr-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg> Cỡ ĐHN: 15  </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter w-4 h-4 mr-2"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg> Ngày Gắn ĐHN: 29/12/2011  </div>
                </div>
                <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-gray-200 pt-5 lg:pt-0">
                    <div class="text-center rounded-md w-20 py-3">
                        <div class="font-semibold text-theme-1 text-lg">32 m<sup>3</sup></div>
                        <div class="text-gray-600">Định mức</div>
                    </div>
                    <div class="text-center rounded-md w-20 py-3">
                        <div class="font-semibold text-theme-1 text-lg">&nbsp;11</div>
                        <div class="text-gray-600">Giá biểu</div>
                    </div>
                    <div class="text-center rounded-md w-20 py-3">
                        <div class="font-semibold text-theme-1 text-lg">12/20</div>
                        <div class="text-gray-600">Kỳ hiệu lực</div>
                    </div>
                </div>
            </div>





        </div>

    </div>

    <div class="px-5 sm:px-16 py-100 sm:py-200">
        <div class="overflow-x-auto">
          
            <table class="table">
                <thead>
                    <tr>

                        <th class="border-b-2 text-right whitespace-no-wrap">Kỳ </th>
                        <th class="border-b-2 text-right whitespace-no-wrap">Ngày Thanh Toán</th>

                        <th class="border-b-2 text-right whitespace-no-wrap">Tiêu Thụ</th>
                        <th class="border-b-2 text-right whitespace-no-wrap">Tổng Tiền</th>
                        <th class="border-b-2 text-right whitespace-no-wrap">
                            <select class="input input--lg box w-full lg:w-auto mt-3 lg:mt-0 ml-auto ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="nam">
                               <option value="21" selected="selected">Năm 2021</option>
                                <option value="20">Năm 2020</option>
                                <option value="19">Năm 2019</option>

                            </select>
                        </th>

                    </tr>
                </thead>
                <tbody>

                    <!----><tr ng-repeat="irow in datatracuutienuoc | filter:{Nam:nam}" class="hover:bg-gray-200" style="">

                        <td class="text-right border-b w-32">
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                               
                            </a>
                                
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                                03/2021
                            </a>
                        </td>
                        <td class="text-right border-b w-32">29/03/2021 10:49 AM</td>
                        <td class="text-right border-b w-32">49 m<sup>3</sup></td>
                        <td class="text-right border-b w-32">470,120 VNĐ</td>
                        <td class="text-right border-b w-32 font-medium"><div class="flex items-left justify-left text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Đã Thanh Toán</div><a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview"> Chi tiết</a></td>
                        

                    </tr><!----><tr ng-repeat="irow in datatracuutienuoc | filter:{Nam:nam}" class="hover:bg-gray-200">

                        <td class="text-right border-b w-32">
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                               
                            </a>
                                
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                                02/2021
                            </a>
                        </td>
                        <td class="text-right border-b w-32">29/03/2021 10:49 AM</td>
                        <td class="text-right border-b w-32">33 m<sup>3</sup></td>
                        <td class="text-right border-b w-32">245,755 VNĐ</td>
                        <td class="text-right border-b w-32 font-medium"><div class="flex items-left justify-left text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Đã Thanh Toán</div><a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview"> Chi tiết</a></td>
                        

                    </tr><!----><tr ng-repeat="irow in datatracuutienuoc | filter:{Nam:nam}" class="hover:bg-gray-200">

                        <td class="text-right border-b w-32">
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                               
                            </a>
                                
                            <a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                                01/2021
                            </a>
                        </td>
                        <td class="text-right border-b w-32">29/03/2021 10:49 AM</td>
                        <td class="text-right border-b w-32">33 m<sup>3</sup></td>
                        <td class="text-right border-b w-32">241,270 VNĐ</td>
                        <td class="text-right border-b w-32 font-medium"><div class="flex items-left justify-left text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Đã Thanh Toán</div><a href="javascript:;" ng-click="fchitietgia(irow)" data-toggle="modal" data-target="#superlarge-modal-size-preview"> Chi tiết</a></td>
                        

                    </tr><!---->

                </tbody>
            </table>
        </div>
    </div>
    <div class="px-5 sm:px-20 pb-10 sm:pb-20 flex flex-col-reverse sm:flex-row">
        
        <div class="text-center sm:text-right sm:ml-auto">
            <div class="text-base text-gray-600">Tổng số tiền nước cần thanh toán</div>
            <div class="text-xl text-theme-1 font-medium mt-2">0 VNĐ</div>
            <div class="mt-1 tetx-xs">Tổng số hóa đơn chưa thanh toán: 0</div>
            <button ng-click="mypopup()" class="button w-48 inline-block mr-1 mb-2 bg-theme-9 text-white inline-flex items-center">Thanh toán Online
                <svg width="25" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="white" class="w-4 h-4 ml-auto">
                    <g fill="none" fill-rule="evenodd" stroke-width="4">
                        <circle cx="22" cy="22" r="1">
                            <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                            <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                        </circle>
                        <circle cx="22" cy="22" r="1">
                            <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
                            <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
                        </circle>
                    </g>
                </svg>
             </button>
        </div>
    </div>

    <div class="p-5" id="modal-size">
        <div class="preview">
         

            <div class="modal" id="superlarge-modal-size-preview">
                <div class="modal__content modal__content--xl p-10 ">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" style="margin-bottom:0px;">
                        <thead>
                            <tr style="text-align:center">
                                <th style="width: 70px; text-align:center">STT</th>

                                <th style="width: 90px;text-align:center">Loại Sinh Hoạt</th>
                                <th style="width: 120px;text-align:center">Lượng Nước Sử Dụng </th>
                                <th style="width: 70px;text-align:center">Giá Bán</th>
                                <th style="width: 90px;text-align:center">Lượng Nước Phí BVMT</th>
                                <th style="width: 90px;text-align:center">Phí BVMT</th>
                                <th style="width: 90px;text-align:center">Kỳ/Năm</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            <!----><!---->
                        </tbody>
                    </table>
                    <div class="px-5 py-3 text-right border-t border-gray-200">
                        <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 mr-1">Cancel</button>                    </div>
                </div>


            </div>
        </div>

    </div>
</div>




<script src="/MyScript/tracuu/tracuutiennuocCtrl.js"></script>


        </div>
            <!-- END: Content -->

        </div>


  
    
    <!-- END: JS Assets-->
    <!-- BEGIN: JS Assets-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    
    <script src="../assets/dist/js/app.js"></script>
    <!-- Phần dành cho Toast-->

    
    <script src="/assets/vendor/angular-flash/dist/angular-flash.min.js"></script>
    


</body>
</html>