<div class="wrapper warp" data-scroll-container>
    <!-- Sidebar  -->
 <menu-admin></menu-admin>

    <!-- Page Content  -->
    <div id="content">


        <form  autocomplete="off" #AddForm="ngForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">name film</label>
                <input class="form-control" type="text" [ngModel] name="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">noi dung film</label>
                <textarea [ngModel] name="description" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">the loai</label>
                <input class="form-control" type="text" [ngModel] name="category">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">the luong</label>
                <input class="form-control" type="datetime" [ngModel] name="duration">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">quoc gia</label>
                <input class="form-control" type="datetime" [ngModel] name="country">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">diem so</label>
                <input class="form-control" type="number" [ngModel] name="point">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">anh </label>
                <input class="form-control" type="text" [ngModel] name="img">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Ngay Khoi Chieu</label>
                <input class="form-control" type="date" [ngModel] name="date_start">
            </div>
            <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input checked type="radio" id="customRadioInline1" name="status" class="custom-control-input" value="1" ngModel>
                    <label class="custom-control-label" for="customRadioInline1">phim dang chieu</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="status" class="custom-control-input" value="0" ngModel>
                    <label class="custom-control-label" for="customRadioInline2">phim sap chieu</label>
                  </div>
               
            </div>
            <button [routerLink]="[ '/admin/film' ]" type="button" class="btn btn-danger">huy</button>
            <button (click)="add_film(AddForm.value)" type="button" class="btn btn-success">add</button>
            <pre>{{ AddForm.value | json }}</pre>
        </form>

    </div>
</div>