<div class="book_now">
    <div class="name_cinema">
        <p>vintage Cinema</p>
    </div>
    <form action="">
        <div class="form_booking">
            <select name="" id="">
                <option value="">Chọn phim</option>
                <option value="">phim 1</option>
                <option value="">phim 2</option>
                <option value="">phim 3</option>
            </select>
            <select name="" id="">
                <option value="">Chọn rap</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <select name="" id="">
                <option value="">Chọn ngày</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <select name="" id="">
                <option value="">Chọn suất</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <button>Đặt vé ngay</button>
    </form>
</div>
<div class="book_now_mobile">
    <div class="name_cinema" onclick="open_close_book_now_mobile(0)">
        <p>booking now <i class="fa fa-caret-up"></i></p>
    </div>
    <div class="form_booking">
        <select name="" id="">
            <option value="">Chọn phim</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">Chọn rap</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">Chọn ngày</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <select name="" id="">
            <option value="">Chọn suất</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <button>Đặt vé ngay</button>
</div>
