<div class="book_now">
    <div class="name_cinema">
        <p>vintage Cinema</p>
    </div>
    <form action="">
        <div class="form_booking">
            <select (change)="choose_film(film.value)" #film name="" id="">
                <option value="">Chọn phim</option>
                <option *ngFor="let item of data_nowshowing" value="{{item.id_film}}">{{item.name}}</option>
            </select>
            <select (change)="choose_cinema(cinema.value)" #cinema name="" id="">
                <option value="">Chọn rap</option>
                <option *ngFor="let item of data_cinema" value="{{item.id_cinema}}">{{item.name}}</option>
            </select>
            <select (change)="choose_date(date.value)" #date name="" id="">
                <option value="">Chọn ngày</option>
                <option *ngFor="let item of data_date" value="{{item.id_date}}">{{item.day}}( {{item.date}} )</option>
            </select>
            <select name="" id="">
                <option value="">Chọn suất</option>
                <option *ngFor="let item of data_show" value="{{item.id_show}}">{{item.time}}</option>
            </select>
        </div>
        <a [routerLink]="[ '/detail', id_film ]"><button>Đặt vé ngay</button></a>
    </form>
</div>
<div class="book_now_mobile">
    <div class="name_cinema" onclick="open_close_book_now_mobile(0)">
        <p>booking now <i class="fa fa-caret-up"></i></p>
    </div>
    <div class="form_booking">
        <select (change)="choose_film(film.value)" #film name="" id="">
            <option value="">Chọn phim</option>
            <option *ngFor="let item of data_nowshowing" value="{{item.id_film}}">{{item.name}}</option>
        </select>
        <select (change)="choose_cinema(cinema.value)" #cinema name="" id="">
            <option value="">Chọn rap</option>
            <option *ngFor="let item of data_cinema" value="{{item.id_cinema}}">{{item.name}}</option>
        </select>
        <select (change)="choose_date(date.value)" #date name="" id="">
            <option value="">Chọn ngày</option>
            <option *ngFor="let item of data_date" value="{{item.id_date}}">{{item.day}}( {{item.date}} )</option>
        </select>
        <select name="" id="">
            <option value="">Chọn suất</option>
            <option *ngFor="let item of data_show" value="{{item.id_show}}">{{item.time}}</option>
        </select>
    </div>
   <a [routerLink]="[ '/detail', id_film ]"><button>Đặt vé ngay</button></a>
</div>
