<div class="menu">
    <div class="icon_menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="web">
        <p>www.vintagecinema.vn</p>
    </div>
    <div class="logo">
        <a [routerLink]="[ '' ]" routerLinkActive="active"><img src="../../../assets/img/logo3.png" alt=""></a>
    </div>
    <div class="name_cinema">
        <p> vintage cinema</p>
    </div>
</div>
<div class="menu_mobile">
    <div class="icon_menu_mobile">
        <i class="fa fa-bars"></i>
    </div>
    <div class="logo_mobile">
        <a [routerLink]="[ '' ]" routerLinkActive="active"><img src="../../../assets/img/logo3.png" alt=""></a>
    </div>
</div>