
<div class="wrapper warp" data-scroll-container>
  <!-- Sidebar  -->
  <menu-admin></menu-admin>

  <!-- Page Content  -->
  <div id="content" >

      <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Phim</th>
              <th scope="col">trạng thái</th>
              <th scope="col">nội dung</th>
              <th scope="col">thể loại</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data_nowshowing">
              <th scope="row">{{item.name}}</th>
              <td>phim đang chiếu</td>
              <td>{{item.description}}</td>
              <td>{{item.category}}</td>
              <td>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-success">suất chiếu</button>
                  <button [routerLink]="[ '/admin/film/',item.id_film ]" type="button" class="btn btn-primary">detail</button>
                  <button (click)="delete_flim(item.id_film)" type="button" class="btn btn-danger">delete</button>
                </div>
              </td>
            </tr>
            <tr *ngFor="let item of data_commingsoon">
              <th scope="row">{{item.name}}</th>
              <td>phim đang chiếu</td>
              <td>{{item.description}}</td>
              <td>{{item.category}}</td>
              <td>
                <div class="btn-group-vertical">
                  <button [routerLink]="[ '/admin/film/',item.id_film ]" type="button" class="btn btn-primary">detail</button>
                  <button (click)="delete_flim(item.id_film)" type="button" class="btn btn-danger">delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
      
  </div>
</div>
