
<block-book></block-book>
<div class="warp" data-scroll-container onclick="open_close_book_now_mobile(1)">
    <section data-scroll-section style="opacity: 1;">
        <div class="left" style="background-image: url(../assets/img/co.jpg);">

        </div>
        <div class="right">
            <div class="title">
                <p> TẤT CẢ HẠNG MỤC</p>
            </div>
            <div class="vintage_cinema">
                <img src="../assets/img/vintage3.jpg" alt="">
            </div>
            <div class="list">
                <div>
                    <p>20 phim</p>
                    <p><a href="#nowshowing">Phim đang chiếu</a></p>
                </div>
                <div>
                    <p>10 phim</p>
                    <p><a href="#commingsoon">Phim sắp chiếu</a></p>
                </div>
                <div>
                    <p>20 tin</p>
                    <p>Tin khuyến mãi</p>

                </div>
                <div>
                    <p>10 phim</p>
                    <p>Phim sắp chiếu</p>
                </div>
            </div>
        </div>
    </section>
    <section data-scroll-section>
        <div class="box_title">
            <p>Phim đang chiếu</p>
            <p>Vintage Cinema</p>
        </div>
        <div *ngFor="let item of data_nowshowing" class="box">
            <div class="box_img">
                <img src="{{item.img}}" alt="">
            </div>
            <div class="box_info">
                <p>{{item.name}}</p>
                <p>{{item.description}}</p>
                <a [routerLink]="[ '/detail', item.id_film]">View detail</a>
            </div>
        </div>

    </section>
    <section data-scroll-section>
        <div class="box_title">
            <p>Phim sắp chiếu</p>
            <p>Vintage Cinema</p>
        </div>
        <ng-container #tagBlock *ngFor="let item of data_commingsoon">
            <div class="box">
                <div class="box_img">
                    <img src="{{item.img}}" alt="">
                </div>
                <div class="box_info">
                    <p>{{item.name}}</p>
                    <p>{{item.description}}</p>
                    <a [routerLink]="[ '/detail', item.id_film ]">View detail</a>
                </div>
            </div>
        </ng-container>
    </section>
    <block-footer data-scroll-section></block-footer>
</div>
<!--/page-->