    <!--/block-->
    <!--page-->
    <div class="warp warp-pay" id="js-scroll" data-scroll-container>
        <section class="section-pay">
            <div class="container">
                <div class="bill">
                    <div class="title-bill">
                        <p>Vintage Cinema</p>
                    </div>
                    <div>
                        <p>Họ và tên :</p>
                        <p>Nguyễn Chí Thành</p>
                    </div>
                    <div>
                        <p>Số điện thoại :</p>
                        <p>0931810441</p>
                    </div>
                    <div>
                        <p>Email :</p>
                        <p>Nchithanh9999@gmail.com</p>
                    </div>
                    <div class="list-bill">
                        <p>Movie</p>
                        <p>seat</p>
                        <p>price</p>
                        <p>time</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div>
                        <p>CHỊ MƯỜI BA: 3 NGÀY SINH TỬ</p>
                        <p>Row A - Seat 13</p>
                        <p>45.000 VND</p>
                        <p>11:20</p>
                    </div>
                    <div class="total">
                        <p>total :</p>
                        <p>300.000 VND</p>
                    </div>
                </div>
                <div class="pay-method">
                    <div class="box-img-pay">
                        <img src="../assets/img/qr.png" alt="">
                        <p>Ứng dụng Mobile Banking quét mã VNPAY-QR</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="../assets/img/atm.png" alt="">
                        <p>Thẻ ATM và tài khoản ngân hàng</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="../assets/img/visa.png" alt="">
                        <p>Thẻ thanh toán quốc tế</p>
                    </div>
                    <div class="box-img-pay">
                        <img src="../assets/img/ewallet.png" alt="">
                        <p>Ví điện tử</p>
                    </div>
                    <div class="btn">
                        
                    </div>
                    <button (click)="btn_pay()">Thanh toán</button>
                </div>
            </div>
        </section>
        <block-footer></block-footer>
    </div>
    <!--/page-->